*.tmp
*.user
*.rej
*.tlb
*.pdn
*.bak
*.orig
*.pdb
*.obj
**/bin/
*/.vs/
*/.Output/
*/.html/
**/.vs/
*/obj/
**/obj/
**/dotCover/
*.cache
*.vcxproj.user
*.csproj.user
**/launchSettings.json
